body {
    background-color: #D3D3D3;
    color: #524948;
}
h1 {
    padding-top: 20px;
    color: #524948;
}
#logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
h8 {
    color: #524948;
}
.col-lg-4 {
    text-align: left;
    color: #524948;
    font-size: 13px;
    margin-top: 50px;
    margin-bottom: 25px;
    mk-lg-column: 15.5;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.col-lg-8 {
    text-align: left;
    color: #524948;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 25px;
    mk-lg-column: 15.5;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#tagline {
    font-size: 20px;
    font-style: italic;
    padding-top: 10px;
}
#search {
    background-color: #57467B;
}
#search:hover {
    background-color: #57467B;
    border-color: #524948;
    color: #7CB4B8;
}
.row {
    display: flex;
    justify-content: space-evenly;
}
.column {
    flex: 50%;
}
.jumbotron-1 {
    margin: auto;
    width: 80%;
    background-color: #F0F0F0;
    border-style: solid;
    border-color: #524948;
    border-radius: 15px;
    padding: 10px;
    margin-right: 30px;
    margin-top: 50px;
}
#k_pic {
    border-radius: 50%;
    width: 75px;
    height: auto;
}
.jumbotron-2 {
    margin: auto;
    width: 80%;
    background-color: #F0F0F0;
    border-style: solid;
    border-color: #524948;
    border-radius: 15px;
    padding: 10px;
    margin-top: 50px;
}
#s_pic {
    border-radius: 50%;
    width: 75px;
    height: auto;
}
.lead {
    font-size: 16px;
}
.display-4 {
    font-size: 30px;
}
.btn-sm {
    background-color: #57467B;
    border-color: #57467B;
    border-size: 5px;
}
.btn-sm:hover {
    background-color: #57467B;
    border-color: #524948;
}

.fa {
    display: inline-block;
    padding-bottom: 8px;
    padding-top: 5px;
    font-size: 18px;
    width: 25px;
    height: auto;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 0px;
}
.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}
#email:hover {
    opacity: 0.7;
}
.dropbtnKnow {
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #57467B;
    z-index: 1;
}
.dropbtnKnow:after {
    content: "\00BB";
    font: normal normal normal 20px/1 Quicksand;
    color: white;
    right: 10px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 15px;
    position: static;
    pointer-events: none;
}
.dropbtnIdent {
    color: white;
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #57467B;
    z-index: -1;
}
.dropbtnIdent:after {
    content: "\00BB";
    font: normal normal normal 20px/1 Quicksand;
    color: white;
    right: 10px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 15px;
    position: static;
    pointer-events: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
    overflow: hidden;
    z-index: 1;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtnKnow {
    background-color: #7CB4B8;
    overflow: hidden;
}
.dropdown:hover .dropbtnIdent {
    background-color: #7CB4B8;
}
#footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    background: none repeat scroll 0 0 #7CB4B8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img {
    margin-right: 20px;
}
#github {
    margin-top: 10px;
}
.container {
    margin-top: 20px;
    position: absolute;
    right: 0;
}
#authors {
    font-size: small;
}
