#footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    background: none repeat scroll 0 0 #7CB4B8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img {
    margin-right: 20px;
}
#github {
    margin-top: 10px;
}
.container {
    margin-top: 20px;
    position: absolute;
    right: 0;
}
#authors {
    font-size: small;
}
