/* style in main footer div */
#footer {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
    background: none repeat scroll 0 0 #7CB4B8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* style for img tag to align right */
img {
    margin-right: 20px;
}
/* style to center github image */
#github {
    margin-top: 10px;
}
/* style for container div to position in footer */
.container {
    margin-top: 20px;
    position: absolute;
    right: 0;
}
/* style for font used for author notation */
#authors {
    font-size: small;
}
