.header {
  padding: 20px;
  text-align: center;
  background: #57467B;
  color: white;
  font-size: 20ppx;
  border-width: thick;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;x;
  border-style: groove;
  border: 50px, groove;
  border-color: #CAFE48;
  border-radius: 15px;
}
