h1 {
    padding-top: 20px;
    color: #524948;
    font-family: 'Poppins', sans-serif;
}
#logo {
    width: 75px;
    height: auto;
    border-radius: 50%;
}
h8 {
    color: #524948;
    font-family: 'Poppins', sans-serif;
}
.col-lg-4 {
    text-align: left;
    color: #524948;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    mk-lg-column: 15.5;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.col-lg-8 {
    text-align: left;
    color: #524948;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    mk-lg-column: 15.5;
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#knowledgeMenuButton {
    margin-left: 150px;
    background-color: #57467B;
}
#identityMenuButton {
    margin-left: 300px;
    background-color: #57467B;
}
#search {
    margin-left: 300px;
    background-color: #57467B;
}
.jumbotron {
    margin: auto;
    width: 75%;
    border-style: solid;
    border-color: #524948;
    border-radius: 25px;
    padding: 10px;
    margin-top: 50px;
}
